<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">

    <!-- Custom CSS stylesheet-->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->

    <title>Dashboard</title>

    <style>
      .top_row {
        margin-top: 40px;
        margin-bottom: 20px;
      }
      button {
        width: 90px;
      }
      #update_button {
        margin-top: 15px;
      }

      .content {
        padding-top: 15px;
        border: 1px solid grey;
        border-radius: 5px;
      }

      .bottom_row {
        margin-top: 15px;
      }
      textarea { 
        margin-top: 15px;
        min-height: 120px;
        max-height: 150px;
        overflow: auto;
      }

    </style>

  </head>

  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">User Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-nav mr-sm-0 nav-link" href="/dashboard">Dashboard</a>
        <a class="navbar-nav mr-auto nav-link" href="/message_board/{{user.id}}">Wall</a>
      {% if request.session.user_id == None %}
        <a class="navbar-nav mr-sm-0 nav-link" href="/signin">Signin</a>
      {% else %}
      {% if user.level == 9%}
      <a class="navbar-nav mr-sm-0 nav-link" href="/dashboard/profile">{{user.first_name}} {{user.last_name}} (admin)</a>
      {% else %}
      <a class="navbar-nav mr-sm-0 nav-link" href="/dashboard/profile">{{user.first_name}} {{user.last_name}}</a>
      {% endif %}
      <a class="navbar-nav mr-sm-0 nav-link" href="/logoff">Logoff</a>
      {% endif %}
      </div>
    </nav>

    <!-- Container -->
    <div class="container">
      <!-- Row 1 -->
      <div class="row top_row">
        <div class="col-6 col-md-8">
      {% if user.level != 9%}
          <h2>Edit Profile</h2>
        </div>
      {% else %}
      {% if profile.id == user.id %}
          <h2>Edit your profile</h2>
      {% else %}
          <h2>Edit user #{{ profile.id }}</h2>
      {% endif %}
        </div>
        <div class="col-6 col-md-4 text-right">
          <a href="/dashboard" class="btn btn-primary btn-sm">Return to Dashboard</a>
        </div>
      {% endif %}
      </div>

      <!-- Row 2 -->
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-10 offset-1">
              <h5>Edit Information</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1 content">
              <form action="/dashboard/update/{{profile.id}}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label>Email Address</label>
                  {% if errors.email %}
                  &nbsp<small>{{ errors.email }}</small>
                  {% endif %}
                  <input type="text" class="form-control" name="email" value={{profile.email}}>
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  {% if errors.first_name %}
                  &nbsp<small>{{ errors.first_name }}</small>
                  {% endif %}
                  <input type="text" class="form-control" name="first_name" value={{profile.first_name}}>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  {% if errors.last_name %}
                  &nbsp<small>{{ errors.last_name }}</small>
                  {% endif %}
                  <input type="text" class="form-control" name="last_name" value={{profile.last_name}}>
                </div>
                {% if user.level == 9 %}
                <div class="form-group row">
                  <label class="col-form-label col-12">User Level</label>
                  <div class="col-12">
                    <select name="user_level" class="form-control">
                      {% if profile.level == 9%}
                        <option>Admin</option>
                        <option>Normal</option>
                      {% else %}
                        <option>Normal</option>
                        <option>Admin</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                {% endif %}
                <div class="form-group text-right">
                  <button class="btn btn-success btn-sm">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-10 offset-1">
              <h5>Change Password</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1 content">
              <form action="/dashboard/update/{{profile.id}}" method="post">
                {% csrf_token %}
                <div class="from-group">
                  <label>Password:</label>
                  {% if errors.password %}
                  &nbsp<small>{{ errors.password }}</small>
                  {% endif %}
                  <input type="text" class="form-control" name="password">
                </div>
                <div class="from-group">
                  <label>Confirm Password:</label>
                  {% if errors.pw_confirm %}
                  &nbsp<small>{{ errors.pw_confirm }}</small>
                  {% endif %}
                  <input type="text" class="form-control" name="pw_confirm">
                </div>
                <div class="form-group row">
                  <div class="col-10 offset-2 col-sm-9 offset-sm-3 col-md-7 offset-md-5 col-lg-5 offset-lg-7 col-xl-4 offset-xl-8 text-right">
                    <button class="btn btn-success btn-sm btn-block" id="update_button">Update Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% if profile.id == user.id %}
      <div class="row bottom_row">
        <div class="col-12">
          <div class="row">
            <div class="col-10 offset-1">
              <h5>Edit Description</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1 content">
              <form action="/dashboard/update/{{profile.id}}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control" name="description">{{profile.description}}</textarea>
                </div>
                <div class="form-group text-right">
                  <button class="btn btn-success btn-sm">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>

  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      
    <!-- bootstrap.js-->
    <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="text/javascript" src="script.js"></script> -->

  </body>
</html>
